{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Todo List</title>
{% endblock meta %}

{% block content %}
<!-- <link rel="stylesheet" href="{% static 'styles/style.css' %}"> -->
<style>
    .gradient-custom {

        background: #6a11cb;
        background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
        background: linear-gradient(to right, rgba(106, 17, 203, 1), rgb(33, 111, 247))
    }

    .card {
        border-radius: 1rem;
    }

    .card:hover {
        transform: scale(1.1);

    }

    .card {
        transition: transform .5s;
    }
</style>

<body class="gradient-custom">

    <nav class="navbar navbar-expand-lg nav nav-pills nav-justified">
        <div class="shadow flex-sm-fill text-sm-center card bg-dark bg-opacity-75 text-white mx-4 py-2">
            <a class="nav-link text-white fw-bold" href="{% url 'todolist:show_todolist' %}">Home</a>
        </div>
        <div class="shadow flex-sm-fill text-sm-center card bg-dark bg-opacity-75 text-white mx-4 py-2">
            <a class="text-sm-center nav-link text-white fw-bold" href="{% url 'todolist:create_task' %}">Create New
                Task</a>
        </div>
        <div class="shadow flex-sm-fill text-sm-center card bg-dark bg-opacity-75 text-white mx-4 py-2">
            <a class="text-sm-center nav-link text-danger fw-bold" href="{% url 'todolist:logout' %}">Logout</a>
        </div>
    </nav>


    <div class="my-3 mx-5 h-100">

        <h2 class="fw-bold mb-3 text-uppercase">Hello! {{request.user}}👋</h2>
        <button type="button" class="btn btn-info mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Add Task (Modal)
        </button>


        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xxl-6 g-4" id="isitask">
        </div>

        <br>

    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-color-dark">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Create task</h1>
                    <button id="clsbtn" type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" id="taskForm" action="">
                        {% csrf_token %}
                        <div class="form-floating mb-4 text-light">
                            <input class="form-control bg-dark text-white" type="text" name="title" required=""
                                id="id_title" placeholder=" ">
                            <label class="form-label" for="id_title">Task Title</label>
                        </div>

                        <div class="form-floating mb-4 text-light">
                            <textarea class="form-control bg-dark text-white" name="description" cols="30" rows="5"
                                required="" id="id_description" placeholder=" "> </textarea>
                            <label class="form-label" for="id_description">Task Description</label>
                        </div>

                        <div class="d-grid gap-2 text-dark">
                            <input id="btnSubmit" class="btn btn-outline-dark btn-lg px-5" type="submit" name="submit"
                                value="Create" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="my-3 mx-5 h-100">

        <h2 class="fw-bold mb-3 text-uppercase">Hello! {{request.user}}👋</h2>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xxl-6 g-4" id="isitask">

            {% if task_list %}
            {% for task in task_list %}
            <div class="col-sm">
                <div class="card bg-dark text-white">
                    <div class="card-body">
                        <h5 class="card-title">{{ task.title }}</h5>
                        <p class="card-text ">{{ task.description }}</p>
                        <div class="row row-cols-2">
                            {% if task.is_finished %}
                            <p class="fw-bold text-success font-monospace ">Finished</p>
                            {% else %}
                            <p class="fw-bold text-warning font-monospace">Not Finished</p>
                            {% endif %}
                            <p class="card-text text-info font-monospace text-end">{{ task.date }}</p>
                        </div>
                        <div class="row g-2">
                            <a class="btn btn-outline-light btn-lg px-5 btn-sm"
                                href="{% url 'todolist:update_task'  task.pk %}">Update</a>
                            <a class="btn btn-outline-danger btn-lg px-5 btn-sm"
                                href="{% url 'todolist:delete_task'  task.pk %}">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        {% else %}
        <br>
        <h3 class="fw-bold font-monospace text-success">Your Task is Empty</h3>
        {% endif %}



    </div> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>

        // Membuat HTML DOM untuk menampilkan task
        var taskCard = document.getElementById("isitask")

        function getTask() {
            taskCard.innerHTML = "";
            $.get("{% url 'todolist:show_json' %}", function (data) {
                data.forEach(value => {
                    // Iterasi task pada json
                    var task = value.fields;
                    var taskCol = document.createElement("div")
                    taskCol.classList.add("col-sm")

                    var card = document.createElement("div")
                    card.classList.add("card", "bg-dark", "text-white");
                    var cardBody = document.createElement("div")
                    cardBody.classList.add("card-body");

                    taskCol.appendChild(card);
                    card.appendChild(cardBody);

                    var cardTitle = document.createElement("h5")
                    cardTitle.classList.add("card-title");
                    cardTitle.innerHTML = task.title;
                    var cardText = document.createElement("p")
                    cardText.classList.add("card-text");
                    cardText.innerHTML = task.description;


                    var container = document.createElement("div")
                    container.classList.add("row", "row-cols-2");

                    var status = document.createElement("p");
                    if (task.is_finished) {
                        status.classList.add("fw-bold", "text-success", "font-monospace");
                        status.innerHTML = "Finished";
                    } else {
                        status.classList.add("fw-bold", "text-warning", "font-monospace");
                        status.innerHTML = "Not Finished";
                    }
                    var date = document.createElement("p")
                    date.classList.add("card-text", "text-info", "font-monospace", "text-end");
                    date.innerHTML = task.date;

                    container.appendChild(status);
                    container.appendChild(date);

                    var buttons = document.createElement("div")
                    buttons.classList.add("row", "g-2");


                    var btnUpdate = document.createElement("a");
                    btnUpdate.classList.add("btn", "btn-outline-light", "btn-lg", "px-5", "btn-sm");
                    btnUpdate.innerHTML = "Update";
                    btnUpdate.href = "/todolist/update-task/" + value.pk;

                    var btnDelete = document.createElement("a");
                    btnDelete.classList.add("btn", "btn-outline-danger", "btn-lg", "px-5", "btn-sm");
                    btnDelete.innerHTML = "Delete";
                    btnDelete.href = "/todolist/delete-task/" + task.pk;

                    buttons.appendChild(btnUpdate);
                    buttons.appendChild(btnDelete);

                    cardBody.appendChild(cardTitle);
                    cardBody.appendChild(cardText);
                    cardBody.appendChild(container);
                    cardBody.appendChild(buttons);

                    taskCol.appendChild(card);
                    taskCard.appendChild(taskCol);
                }
                )
            }
            )
        }

        function addTask(e) {
            e.preventDefault()
            $.ajax({
                type: 'POST',
                url: '/todolist/add/',
                data: $("#taskForm").serialize(),

                success: () => {
                    $("#clsbtn").click()
                    $("#modal").modal('hide')
                    getTask()
                },
                dataType: 'json',
                error: function (xhr, resp, text) {
                    console.log("xhr", xhr)
                    console.log("resp", resp)
                    console.log("text", text)
                }

            });
        }

        $(document).ready(() => {
            $("#btnSubmit").click(addTask)
            getTask()
            console.log($("#taskForm").serialize())
        })

    </script>

</body>
{% endblock content %}