navbar {
    width: 100%;
    margin:0px 0;
  }
      navbar ul{
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  navbar ul li{
    width: 33%;
    float: left;
  }
      navbar ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px 0;
    display: block;
    width: 100%;
    background-color: rgb(66, 124, 248);
  }

table, th, td {
  border: 1px solid black;
}